
/* ---------- sub-header start -----------*/
.sub-header-menu ul li:nth-of-type(1) {
    background-color: #fccf31;
}
/* ---------- sub-header end -----------*/


/* ---------- middle start -----------*/

.journal-out {
    max-width: 1300px;
    margin: 2rem auto;
}

.journal-in {
    margin: 0 1rem;
}

.journal-in li {
    margin-left: 10%;
    list-style: circle;
}

.title-out, .year-out {
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 1rem 0.5rem;
    font-size: 3rem;
    font-weight: 500;
}

.title span {
    height: 0.2rem;
    width: 10rem;
    margin-bottom: 0.5rem;
    background-color: #003876;
    content: '';
}

.year {
    margin: 1rem 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    align-items: center;
}

.year span {
    margin-right: 1rem;
    height: 3rem;
    width: 0.8rem;
    background-color: #003876;
    content: '';
}

.journal {
    align-items: center;
    justify-content: space-between;
}

.journal-detail {
    margin-right: 10%;
}

.mb-4, .mt-3 {
    margin: 0!important;
}

/* ---------- middle end -----------*/


/* ---------- media screen start -----------*/
@media (min-width: 992px) {

}

/* ---------- media screen end -----------*/