
/* ---------- sub-header start -----------*/
.sub-header-menu ul li:nth-of-type(1) {
    background-color: #fccf31;
}
/* ---------- sub-header end -----------*/


/* ---------- middle start -----------*/

.overview-out {
    max-width: 1300px;
    padding: 2rem 0;
    margin: 2rem auto;
    background-color: #eeeeee;
}

.overview-in {
    margin: 0 auto;
    height: 37em;
    width: 42em;
}

.circle {
    position: relative;
    border-radius: 50%;
    height: 22em;
    width: 22em;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
}

.overview-in a:nth-of-type(1) {
    left: 10em;
    background-color: #629dcc;
}

.overview-in a:nth-of-type(2) {
    top: -7em;
    background-color: #60bcbc;
}

.overview-in a:nth-of-type(3) {
    left: 20em;
    top: -29em;
    background-color: #4c709f;
}

.research_area {
    align-items: center;
}

.research_area h1{
    font-size: 2em;
    color: yellow;
}

.research{
    width: 18em;

    font-size: 1em;
    color: white;
    text-align: center;

    margin: 0.2rem 0;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* ---------- middle end -----------*/


/* ---------- media screen start -----------*/
@media (max-width: 700px) {
    .overview-out {
        font-size: 0.8rem;
    }
}

/* ---------- media screen end -----------*/