<!DOCTYPE html>
<html lang="ko">
    <head>
        {% load staticfiles %}
        {% load widget_tweaks %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Profile</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery-3.3.1.js' %}"></script>
    </head>

    <body>

        <div class="signup-out">
            <h2>Profile</h2>
            <div>
                {{ profile.username }}
            </div>
            <div>
                {{ profile.email }}
            </div>

        </div><noscript>&lt;p&gt;이 사이트는 자바스크립트를 지원하지 않으면 정상적으로 보이지 않을수 있습니다.&lt;/p&gt;</noscript>

    </body>

</html>
