{% extends "homepage/header_footer.html" %}
{% load staticfiles %}

<!-- head part -->
{% block title %}Album{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'homepage/board/album_detail_style.css' %}">
<link rel="stylesheet" href="{% static 'homepage/includes/sub_header_style.css' %}">
{% endblock %}

{% block js %}
{% endblock %}


{% block sub_header %}
{% include 'homepage/includes/sub_header_board.html' %}
{% endblock %}


<!-- middle part -->
{% block middle %}
<div class="middle">
    {% if user.is_staff %}
        <div class="mt-3">
            <a href="{% url 'album_edit' album_detail.pk %}"
                class="btn btn-primary btn-sm"
                role="button">Edit</a>
        </div>
    {% endif %}

    <div class="title">
        {{ album_detail.title }}
    </div>
    <div class="detail">
        {{ album_detail.detail|safe}}
    </div>
</div>
{% endblock %}

