{% extends "homepage/header_footer.html" %}
{% load staticfiles %}

<!-- head part -->
{% block title %}Seminar{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'homepage/board/notice_style.css' %}">
<link rel="stylesheet" href="{% static 'homepage/includes/sub_header_style.css' %}">
{% endblock %}

{% block js %}
{% endblock %}


{% block sub_header %}
{% include 'homepage/includes/sub_header_board.html' %}
{% endblock %}


<!-- middle part -->
{% block middle %}
<div class="middle">

    <form method="post" >
        {% csrf_token %}
        {% include 'homepage/includes/include_form.html' %}
        <button type="submit" class="btn btn-primary">New seminar</button>
    </form>

</div>
{% endblock %}

