{% extends "homepage/header_footer.html" %}
{% load staticfiles %}


<!-- head part -->
{% block css %}
<link rel="stylesheet" href="{% static 'homepage/main_style_before.css' %}">
{% endblock %}

{% block js %}
{% endblock %}


<!-- middle part -->
{% block middle %}
<div class="middle">
    <div class="scholarship">
        <div class="scholarship-in">
            <h2 class="middle-content-name">
                Student Recruiting
            </h2>
            <!--<em class="h-tag">HOT</em> -->
            <div class="scholarship-content-out">
                <h4 class="middle-content">
                    연세대학교 무선 통신 회로 설계 연구실에서는 우수하고 열정적인 학생들을 모집하고 있습니다.
                </h4>
                <h3 class="scholarship-more">
                    ⬇︎ 장학금 지원 확인하기 ⬇︎
                </h3>
            </div>
            <div class="more-btn-out">
                <a href="#" class="more-btn">자세히보기 ></a>
            </div>
        </div>
    </div>


    <div class="intro">
        <div class="intro-in">
            <h2 class="middle-content-name">
                Introduction
            </h2>
            <div class="intro-content-out">
                <h4 class="middle-content">
                    &nbsp; &nbsp; &nbsp; Circuit and System Design Lab.(CSDL)은 2007년 설립된 연세대학교 전기전자공학부 소속 연구실입니다. RF 회로 및 어플리케이션(시스템)을 연구하고 있으며, LNA, MIXER, TDC와 같은 아날로그 및 디지털회로 블럭들과 이를 응용한 시스템 설계를 연구하고 있습니다. 주된 연구분야는 고효율 저전력의 통신시스템, 비접촉식 심박 및 호흡 탐지 센서, 무선정밀위치 센서, 차량용 레이더 송수신 시스템, 고속 ADC, 제스처 인식 레이더 시스템 등입니다.<br /><br /> &nbsp; &nbsp; &nbsp; Radio Frequency and Analog circuit Design Lab.(RFAD) was established in 2007, belongs to EE, Yonsei Univ. We research on RF circuit and its application(system level). In other words, analog and digital block such as LNA, MIXER, TDC and system architecture with these blocks. Now, we mainly focus on high data rate/ short range communication, non-contact sign monitoring sensor, wireless precise localization sensor and automotive radar and so on.
                </h4>
            </div>
            <div class=intro-pict>
                <div class="intro-pict-content-out">
                    <div class="intro-pict-content-in">
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro1.jpg">
                                <img src="{% static 'homepage/img/intro/intro1.jpg' %}" alt="intro1">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro2.jpg">
                                <img src="{% static 'homepage/img/intro/intro2.jpg' %}" alt="intro2">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro3.jpg">
                                <img src="{% static 'homepage/img/intro/intro3.jpg' %}" alt="intro3">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro4.jpg">
                                <img src="{% static 'homepage/img/intro/intro4.jpg' %}" alt="intro4">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro5.jpg">
                                <img src="{% static 'homepage/img/intro/intro5.jpg' %}" alt="intro5">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro6.jpg">
                                <img src="{% static 'homepage/img/intro/intro6.jpg' %}" alt="intro6">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro7.jpg">
                                <img src="{% static 'homepage/img/intro/intro7.jpg' %}" alt="intro7">
                            </a>
                        </div>
                        <div class="intro-pict-content">
                            <a href="/img/intro/intro8.jpg">
                                <img src="{% static 'homepage/img/intro/intro8.jpg' %}" alt="intro8">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="intro-pict-ctl">
                    <a href="#" class="prev">
                        <img src="http://ee.yonsei.ac.kr/_res/ee/img/main/btn_prev01.png" alt="prev">
                    </a>
                    <a href="#" class="next">
                        <img src="http://ee.yonsei.ac.kr/_res/ee/img/main/btn_next01.png" alt="next">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="project-paper-out">
        <div class="project-paper">
            <div class="project">
                <h2 class="middle-content-name">
                    Project
                </h2>
                <!--<em class="h-tag">NEW</em>-->
                <ul class="project-content-out">
                    <li class="project-content-in">
                        <span class="middle-content">
                            <span>과제: </span>77~81GHz RX Front End and TX output stage for automotive radar
                        </span>
                    </li>
                    <li class="project-content-in">
                        <span class="middle-content">
                            <span>주관: </span>삼성전자
                        </span>
                    </li>
                    <li class="project-content-in">
                        <span class="middle-content">
                            <span>사업: </span>삼성전자 DS부문 전략산학과제
                        </span>
                    </li>
                    <li class="project-content-in">
                        <span class="middle-content">
                            <span>기간: </span>2018.07.01 ~ 2020.06.30
                        </span>
                    </li>
                </ul>
                <div class="more-btn-out">
                    <a href="/research/project.html" class="more-btn more-btn-grey">자세히보기 ></a>
                </div>
            </div>
            <div class="paper">
                <h2 class="middle-content-name">
                    Paper
                </h2>
                <!--<em class="h-tag">HOT</em>-->
                <ul class="paper-ul">
                    <li class="paper-li">
                        <a href="#" class="paper-li-link">
                            <span class="category-tag-out">
                                <span class="category-tag">ACCEPTED</span>
                            </span>
                            <span class="paper-name-out">
                                <span class="middle-content">IEEE Sensors Journal Mar. 2017.</span>
                            </span>
                        </a>
                    </li>
                    <li class="paper-li">
                        <a href="#" class="paper-li-link">
                            <span class="category-tag-out">
                                <span class="category-tag">ACCEPTED</span>
                            </span>
                            <span class="paper-name-out">
                                <span class="middle-content">IEEE Sensors Journal Mar. 2017.</span>
                            </span>
                        </a>
                    </li>
                    <li class="paper-li">
                        <a href="#" class="paper-li-link">
                            <span class="category-tag-out">
                                <span class="category-tag">ACCEPTED</span>
                            </span>
                            <span class="paper-name-out">
                                <span class="middle-content">IEEE JSSC Fab. 2017.</span>
                            </span>
                        </a>
                    </li>
                    <li class="paper-li">
                        <a href="#" class="paper-li-link">
                            <span class="category-tag-out">
                                <span class="category-tag">ACCEPTED</span>
                            </span>
                            <span class="paper-name-out">
                                <span class="middle-content">IEEE MWCL Jan. 2017.</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="more-btn-out">
                    <a href="#" class="more-btn more-btn-grey">자세히보기 ></a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}