<div class="sub-header-out">
    <div class="sub-header-in">
        <div class="sub-header-name">
            <h1>Board</h1>
        </div>
        <div class="sub-header-menu">
            <ul>
                <li>
                    <a href="{% url 'notice_list' %}">
                        <span>Notice</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'seminar_list' %}">
                        <span class="">Seminar</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'album_list' %}">
                        <span class="">Album</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>