<div class="sub-header-out">
    <div class="sub-header-in">
        <div class="sub-header-name">
            <h1>Publication</h1>
        </div>
        <div class="sub-header-menu">
            <ul>
                <li>
                    <a href="{% url 'journal_list' %}">
                        <span>Journal</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'conference_list' %}">
                        <span class="">Conference</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'patent_list' %}">
                        <span class="">Patent</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>