<div class="sub-header-out">
    <div class="sub-header-in">
        <div class="sub-header-name">
            <h1>People</h1>
        </div>
        <div class="sub-header-menu">
            <ul>
                <li>
                    <a href="{% url 'professor_page' %}">
                        <span>Professor</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'member_page' %}">
                        <span class="">Member</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'alumni_page' %}">
                        <span class="">Alumni</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>