
/* ---------- sub-header start -----------*/
.sub-header-menu ul li:nth-of-type(1) {
    background-color: #fccf31;
}

/* ---------- sub-header end -----------*/


/* ---------- middle start -----------*/
.professor-out {
    max-width: 1300px;
    margin: 1.5rem auto;
}

.professor-in {
    margin: 0 auto;
    width: 100%;
}

.top-info {
    flex-wrap: wrap;
    background-color: #eeeeee;
}

.top-info-image {
    padding: 2rem;
    margin-right: 1rem;

}

.top-info-name {
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.top-info-name  span {
    font-size: 1.5rem;
    font-weight: 300;
    color: #666666;
    padding-left: 0.5rem;
}

.bottom-info {
    padding: 2rem;
}

/* ---------- middle end -----------*/


/* ---------- media screen start -----------*/





/* ---------- media screen end -----------*/